<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (ingredientAdded)="onIngredientAdded($event)">
    </app-shopping-edit>
    <div *ngIf="checkInfo">
      <p style="color:darkgreen">Please enter ingredient name with amount, thank you!</p>
    </div>
    <div *ngIf="checkExist">
      <p style="color:deeppink">You already added the ingredient to current recipe,
        if you want to get more, just add amount!</p>
    </div>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
